parameters:
    level: 0
    paths:
        - src
    excludePaths:
        - src/Data/BaseData.php
        - src/Data/Donor/Donor.php
        - src/Data/Gift/Gift.php
        - src/Resources/QueryResource.php
